<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-container">
            <div class="navbar-background">
            </div>
            <div class="navbar-content">
                <ul>
                    <li>
                        <a href="#" class="link-btn">Home / </a>
                    </li>
                    <li>
                        <a href="#about" class="link-btn">About / </a>
                    </li>
                    <li>
                        <a href="#contacts" class="link-btn">Contacts /</a>
                    </li>
                    <li>
                        <a href="#skills" class="link-btn">Skills /</a>
                    </li>
                    <li>
                        <a href="#how" class="link-btn">How /</a>
                    </li>
                    <li class="construction">
                        @Html.ActionLink("Work /", "Index")
                        <span class="under-construction">Under Construction</span>
                    </li>
                    <li class="construction">
                        @Html.ActionLink("Blog", "Index")
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main-container">
        <div class="home-partial">
            <div>
                <h1></h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Sed ac lectus velit. Sed id sollicitudin elit, ac venenatis odio.
                    Nulla vel urna elementum, vestibulum felis venenatis, tincidunt neque.
                    Cum sociis natoque penatibus et magnis dis parturient montes,
                    nascetur ridiculus mus. Nulla vel urna elementum, vestibulum felis venenatis,
                    tincidunt neque. Cum sociis natoque penatibus et magnis dis parturient montes,
                    nascetur ridiculus mus. Sed id sollicitudin elit, ac venenatis odio.
                    Nulla vel urna elementum, sollicitudin elit, ac venenatis odio.
                    Nulla vel urna elementum, vestibulum felis venenatis, tincidunt neque.
                </p>
            </div>
        </div>
        <div class="about-partial" id="about">
            <div>
                <h1>About Me</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Sed ac lectus velit. Sed id sollicitudin elit, ac venenatis odio.
                    Nulla vel urna elementum, vestibulum felis venenatis, tincidunt neque.
                    Cum sociis natoque penatibus et magnis dis parturient montes,
                    nascetur ridiculus mus. Nulla vel urna elementum, vestibulum felis venenatis,
                    tincidunt neque. Cum sociis natoque penatibus et magnis dis parturient montes,
                    nascetur ridiculus mus. Sed id sollicitudin elit, ac venenatis odio.
                    Nulla vel urna elementum, sollicitudin elit, ac venenatis odio.
                    Nulla vel urna elementum, vestibulum felis venenatis, tincidunt neque.
                </p>
            </div>
        </div>
        <div class="how-was-made-partial" id="how">
            <div>
                <h1>How was made</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Sed ac lectus velit. Sed id sollicitudin elit, ac venenatis odio.
                    Nulla vel urna elementum, vestibulum felis venenatis, tincidunt neque.
                    Cum sociis natoque penatibus et magnis dis parturient montes,
                    nascetur ridiculus mus. Nulla vel urna elementum, vestibulum felis venenatis,
                    tincidunt neque. Cum sociis natoque penatibus et magnis dis parturient montes,
                    nascetur ridiculus mus. Sed id sollicitudin elit, ac venenatis odio.
                    Nulla vel urna elementum, sollicitudin elit, ac venenatis odio.
                    Nulla vel urna elementum, vestibulum felis venenatis, tincidunt neque.
                </p>
            </div>
        </div>
        <div class="skills-partial" id="skills">
            <div>
                <h1>Skills</h1>
                <ul class="back-end-skills">
                    <li data-width="200">C#</li>
                    <li data-width="190">OOP</li>
                    <li data-width="130">ASP.NET MVC</li>
                    <li data-width="125">ASP.NET Web Forms</li>
                    <li data-width="110">ASP.NET Web API</li>
                    <li data-width="110">Web Services</li>
                    <li data-width="80">SQL</li>
                    <li data-width="130">Databases</li>
                    <li data-width="190">Entity Framework</li>
                </ul>
                <ul class="front-end-skills">
                    <li data-width="200">HTML5</li>
                    <li data-width="160">CSS</li>
                    <li data-width="180">Javascript</li>
                    <li data-width="195">jQuery</li>
                    <li data-width="120">
                        <span>Javascript Frameworks</span><br />
                        <span class="js-frameworks">
                            Kendo UI, Underscore.js, <br />
                            Mustache.js, Sammy.js
                        </span>
                    </li>
                </ul>

            </div>
        </div>
        <div class="contacts-partial" id="contacts">
            <div>
                <h1>Contacts</h1>
                <p>Get in touch</p>
                <div class="facebook-btn"></div>
                <div class="google-btn"></div>
                <form class="email-form">
                    <input type="text" name="name" value="" placeholder="You Email Here" /> <br />
                    <textarea placeholder="Your Message Here"></textarea>
                </form>
            </div>
        </div>
        @RenderBody()
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>

        //DELETE LATER

        $('.construction').on('click', function (ev) {
            ev.preventDefault();
        })

        $('.construction').hover(function () {
            $('.under-construction').show();
        }, function () {
            $('.under-construction').hide();
        })

        //----------------

        var currentPage = window.location.hash;

        $(window).on('scroll', function () {

            var elements = $('.skills-partial div > ul li');
            var visibleElements = $('.skills-partial div > ul');
            var i;

            for (i = 0; i < elements.length; i++) {
                var element = $(elements[i]);
                if (isScrolledIntoView(element)) {
                    if (element.width() === 0) {
                        element.animate({ width: element.attr('data-width') + 'px' }, 300);
                    }

                } else {
                    element.css("width", "0px");

                }
            }

            function isScrolledIntoView(elem) {
                var docViewTop = $(window).scrollTop();
                var docViewBottom = docViewTop + $(window).height();

                var elemTop = $(elem).offset().top;
                var elemBottom = elemTop + $(elem).height();

                return ((elemBottom <= docViewBottom) && (elemTop >= docViewTop));
            }
        });


        $('.link-btn').on('click', function (ev) {
            ev.preventDefault();
            ev.stopPropagation();

            var id = $(this).attr('href');

            currentPage = id;

            var topPosition = 0;
            if (id.length > 1) {
                topPosition = $(id).offset().top;
            }

            $('html, body').animate({
                scrollTop: topPosition
            }, 500, function () {
                window.location.hash = id;
            });
        });

        $(window).resize(function () {
        });
    </script>
</body>
</html>
