@model IEnumerable<BlogPostViewModel>

@{
    ViewBag.Title = "Blog Index";
}

<h2>Blog Posts</h2>

<div class="container-fluid">
    <div class="row-fluid">

        <div class="span10">
            <div class="row-fluid">
                @foreach (var blogPost in Model)
                {
                    <div class="blog-post-item">

                        <div class="blog-post-item-header">
                            <h3>
                                <a href="/Blog/Posts/Details/@blogPost.Id">@blogPost.Title</a> 
                            </h3>
                            <span>Created at: @blogPost.CreationDate.ToShortDateString()</span>
                        </div>

                        <div class="blog-post-item-content">
                            @blogPost.Content
                        </div>

                        <div class="blog-post-item-footer">
                            <span>@blogPost.ViewsCount views</span><br />
                            <a href="#" class="show-recent-comments">Show recent comments</a>
                        </div>

                        <ul class="recent-comments" style="display:none;">
                            @foreach (var comment in blogPost.Comments)
                            {
                                <li>
                                    "@comment.Content" by @comment.AuthorName
                                </li>
                            }
                        </ul>

                    </div>
                }
            </div>
        </div>

        <div class="span2">
            <!--Sidebar content-->
        </div>

    </div>
   
</div>

@section blogPostsScript {
    <script>
        $(".show-recent-comments").on("click", function (e) {
            e.preventDefault();
            e.stopPropagation();
            $(this).parent().next(".recent-comments").slideDown("slow", function () {
                // Animation complete.
            });
        });

        $(".recent-comments").on("mouseleave", function (e) {
            e.preventDefault();
            e.stopPropagation();
            $(this).slideUp("slow", function () {
                // Animation complete.
            });
        });
    </script>
}

