@model MyPortfolio.Models.BlogPost

@{
    ViewBag.Title = "Create/Edit";
}

<h2>Blog post</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="hidden-data">
        @Html.HiddenFor(model => model.Id);
    </div>
    
    <div class="control-group">
        <div class="controls">
            @Html.TextBoxFor(model => model.Title, new { placeholder = "Post title goes here." })
            @Html.ValidationMessageFor(model => model.Title, null, new { @class = "help-inline" })
        </div>
        <div class="controls">
            @Html.TextAreaFor(model => model.Content, new { id="rich-editor" })
            @Html.ValidationMessageFor(model => model.Content, null, new { @class = "help-inline" })
        </div>
    </div>

    <div class="form-actions no-color">
        <input type="submit" value="Send" class="btn" />
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section richtTextEditor {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $('#rich-editor').jqte();
    </script>
}

