@model IEnumerable<ProjectViewModel>

@{
    ViewBag.Title = "Index";
}

<h1 style="border-left: 5px solid #333333; padding-left: 10px; ">Works</h1>
<div class="row">
    <div class="span1">
        <div class="custom-vertical-pager">
            <ul>
                @for (int i = 0; i < ViewBag.PagesCount; i++)
                {
                    var selectedClass = String.Empty;

                    if (i + 1 == (ViewBag.CurrentPage ?? 1))
                    {
                        selectedClass = "vertical-pager-selected";
                    }

                    <li class="vertical-pager-page @selectedClass">
                        @Html.ActionLink(" ", "Index", new { page = i + 1 })
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="span11">
        <div class="row projects-wrap">
            @foreach (var project in Model)
            {
                <div class="span5">
                    <div class="project-image-wrap" style="background-image: url('@project.ImageUrl');">
                        <div class="project-img-cover">
                            <div>
                                <h3>@project.Name</h3>
                                <a href="@project.DemoUrl" class="project-link btn btn-inverse btn-large"><i class="icon-white icon-th"></i> Demo</a>
                                <a href="@project.SourceUrl" class="project-link btn btn-success btn-large"><i class="icon-white icon-folder-open"></i> Source</a>
                                <p>@project.Description</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


@section projectsHomeScript
{
    <script src="~/Scripts/app/all-projects-page-effects-logic.js"></script>
}