@model IEnumerable<BlogPostViewModel>

@foreach (var blogPost in Model)
{
    <div class="row-fluid post-container" style="margin-bottom: 5%;">
        <div class="span7">
            <img style="height:100%;width:100%;" src="http://placehold.it/424x308" >
            <div class="date-cat-container">
                <div class="date">
                  <div>@blogPost.CreationDateFormated</div>
                </div>
                <div class="category">in [category name]</div>
                <div class="date-triangle-top"></div>
                <div class="date-triangle-right"></div>

                <div class="read-more-container">
                    <a href="/Blog/Posts/Details/@blogPost.Id"
                       class="read-more-btn">
                        Read more
                    </a>
                    <div class="btn-triangle-top-right"></div>
                    <div class="btn-triangle-bottom-left"></div>
                    <div class="btn-top-side"></div>
                    <div class="btn-left-side"></div>
                </div>
            </div>
        </div>
        <div class="blog-post-item span5">

            <div class="blog-post-item-header">
                <h3>
                    <a href="/Blog/Posts/Details/@blogPost.Id">@blogPost.Title</a>
                </h3>
            </div>

            <div class="blog-post-item-content">
                @{ var maxContentLength = blogPost.Content.Length;
                   var maxShowLength = 300; 
                   if (maxShowLength >= maxContentLength) 
                   {
                       maxShowLength = maxContentLength;
                   }
                }
                @Html.Raw(blogPost.Content.Substring(0, maxShowLength))
            </div>

            <div class="blog-post-item-footer" style="margin-top: 20px">
               
                @if (blogPost.Comments.Count() > 0)
                {
                    <a href="#" class="show-recent-comments btn btn-info">Show recent comments</a>
                }
            </div>
            <ul class="recent-comments" style="display:none;">
                @foreach (var comment in blogPost.Comments)
                {
                    <li>
                        "@comment.Content" by @comment.AuthorName
                    </li>
                }
            </ul>

        </div>
    </div>
}

