<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Martin Ivanov Blog</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner main-navbar">
            <div class="container">
                <div class="nav-collapse collapse">
                    
                    <ul class="nav main-nav">
                        <li>@Html.ActionLink("Home", "Index", new { area = "", controller = "Home" }, new { @class = "main-nav-link" })</li>
                        <li class="selected-nav-item">@Html.ActionLink("Work", "Index", "", new { @class = "main-nav-link" })</li>
                        <li>@Html.ActionLink("Blog", "Index", new { area = "Blog", controller = "Home" }, new { @class = "main-nav-link" })</li>
                        <li>@Html.ActionLink("Contact me", "Create", "Posts", new { @class = "main-nav-link" })</li>
                        <li>@Html.ActionLink("About me", "Create", "Posts", new { @class = "main-nav-link" })</li>
                    </ul>
                    <ul class="nav social-icons" style="float:right;">
                        <li class="facebook"><a rel="nofollow" href="http://www.facebook.com/" target="_blank" title="Facebook"></a></li>
                        <li class="google"><a rel="nofollow" href="https://plus.google.com/" target="_blank" title="Google Plus"></a></li>
                        <li class="linkedin"><a rel="nofollow" href="https://linkedin.com/" target="_blank" title="LinkedIn"></a></li>
                    </ul>

                </div>
             </div>
        </div>
        <div class="nav-activate-btn"><span class="nav-activate-inner">Hide</span></div>
    </div>

    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")    
    @RenderSection("scripts", required: false)
    @RenderSection("projectsHomeScript", required: false)
    <script src="~/Scripts/app/layout-navbar.js"></script>
</body>
</html>