<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Martin Ivanov Blog</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/blog-work-layout.css" rel="stylesheet" />
</head>
<body>
    <header>
        
        <section>
            <div id="menu-btn">
                @*<span>Explore</span><br />*@
                <div id="menu-icon"></div>
            </div>
            <article class="search-bar">
                <input type="text" name="Search" value="" class="search-textbox" placeholder="Type here" />
                <div id="search-btn">
                    <div id="search-icon"></div>
                </div>
            </article>
            @*<div id="logo"></div>*@
            <div id="right-floated">
                <ul id="social-icons">
                    <li><a href="#" class="linkedin"></a></li>
                    <li><a href="#" class="facebook"></a></li>
                    <li><a href="#" class="google-plus"></a></li>
                </ul>

                @using (Ajax.BeginForm("ContactForm", "Home", new AjaxOptions
                {
                    HttpMethod = "Get",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "Comments",
                    OnFailure = "commentPostFailure", OnSuccess = "removeCommentBoxText" }))
                {
                     <input type="submit" id="contact-btn" value="Contact me"/>
                }

            </div>
        </section>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li class="selected"><a href="#">Work</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">About</a></li>
                <li><a href="/#skills">Skills</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        @RenderBody()

        <section id="contact-wrap">
        </section>

        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")    
    @RenderSection("scripts", required: false)
    @RenderSection("projectsHomeScript", required: false)
    <script src="~/Scripts/app/layout-navbar.js"></script>

    <script>
        var angleDegrees = 0;

        //$('#menu-btn').on('click', function () {
        //    $('nav > ul').toggle('fast');

        //    var interval = setInterval(function () {
        //        if (angleDegrees % 180 === 0 && angleDegrees !== 0) {
        //            clearInterval(interval);
        //        }
        //        $('#menu-icon').rotate(angleDegrees);
        //        angleDegrees++;
        //    });

        //    var menuText = $('#menu-btn > span');
        //    if (menuText.text() === 'Explore') {
        //        menuText.text('Hide');
        //    } else {
        //        menuText.text('Explore');
        //    }

        //});

        $('#menu-btn').on('click', function () {
            $('nav > ul').slideToggle('fast');

            var interval = setInterval(function () {
                if (angleDegrees % 180 === 0 && angleDegrees !== 0) {
                    clearInterval(interval);
                }
                $('#menu-icon').rotate(angleDegrees);
                angleDegrees++;
            });

            var menuText = $('#menu-btn > span');
            if (menuText.text() === 'Explore') {
                menuText.text('Hide');
            } else {
                menuText.text('Explore');
            }

        });
    </script>
</body>
</html>